*{
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: poke-font;
    src: url(fonts/Pokemon\ Solid.ttf);
}
@font-face {
    font-family:poke-font2;
    src: url(fonts/Pokemon\ Hollow.ttf);
}
@font-face {
    font-family:nintendo-DS ;
    src: url(fonts/Nintendo-DS-BIOS.ttf);
}
body{
    background-color: rgb(205, 68, 68);
}
.pokemon-research-title{
    text-align: center;
    font-family: poke-font;
    font-size: 100px;
    color: rgb(242, 255, 96);
    min-height: 250px;
    text-shadow: 10px 10px 0px rgb(96, 96, 228);
}
.Pokemons-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
    background-color: rgb(242, 255, 96);
    padding: 35px;
}
.pokemon-input-title{
    
    font-size: 50px;
    text-align: center;
    margin-right: 0px;
    font-family: nintendo-DS;
    color: rgba(86, 67, 254, 0.642);
    
}
.input-pokemon{
    padding: 20px;
    height: 40px;
    border-radius: 7px;
    box-shadow: 10px 8px rgb(103, 103, 230);
    text-align: center;
    font-family: nintendo-DS;
    font-size: 30px;
}
.input-pokemon::placeholder{
font-size: 25px;
padding-top: 20px;
text-align: center;
margin-top: 5px;
font-family: nintendo-DS;
}
.pokemons-input-search{
    display: flex;
}
.poke-button{

    margin-left: 10px;
    width: 20%;
}
button{
    width: 100%;
    align-items: center;
    margin-left: 10px;
    min-height: 50px;
    background-color: rgb(242, 255, 96);
    box-shadow: 10px 8px rgb(103, 103, 230);
    font-size: 30px;
    font-family: nintendo-DS;
}
button:hover{

    background-color: rgb(255, 255, 255);
    transition-duration: 1s;
}
button:active{
    background-color: rgb(236, 96, 96);
    transition-duration: 0s;
}

.hide{
    display: none;
}

/*-----POKEBAL LOADER-------*/
.ball-container{
    background: #ffdf6d;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.ball {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: white;
  position: relative;
  box-shadow: -20px 0 rgba(0, 0, 0, 0.1) inset;
  animation: roll 1s ease-in-out infinite;
  background: linear-gradient(
    to bottom,
    #e83e35 0%,
    #e83e35 50.5%,
    #ffffff 50.51%,
    #ffffff 100%
  );
  
}

.ball:after {
  content: "";
  position: absolute;
  top: calc(100px - 3px);
  left: 0;
  width: 200px;
  height: 6px;
  background: #3f3f3f;
}

.ball:before {
  content: "";
  position: absolute;
  top: 67px;
  left: 67px;
  width: 54px;
  height: 54px;
  border: solid 6px #3f3f3f;
  border-radius: 50%;
  background: white;
  z-index: 1;
  box-shadow: 0 0 15px -2px #c62828 inset;
  animation: button 3s ease infinite;
}

@-webkit-keyframes roll {
  from {
    transform: rotate(0);
  }
  90%,
  to {
    transform: rotate(720deg);
  }
}

@-webkit-keyframes button {
  from,
  50%,
  to {
    box-shadow: 0 0 15px -2px #c62828 inset;
  }

  25%,
  75% {
    box-shadow: 0 0 10px -2px #1300ea inset;
  }
}

/*-------cards-------*/

.Pokemon-cards{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
    gap: 8px;
}
.pokemon-img{
    min-height: 30vh;
    background-color:  rgb(255, 255, 255);
    border-radius: 5px;
    border-style: dashed;
    border-width: 8px;
    border-color: rgb(117, 117, 117);
    box-shadow: 10px 8px rgb(103, 103, 230);
display: none;
}
.pokemon-name{
    font-size: 40px;
    width: fit-content;
    text-align: center;
    font-family: nintendo-DS;
    text-transform: capitalize;
    color: black;
    text-shadow: 4px 4px 0px rgb(175, 175, 175);
    background-color: rgb(254, 254, 254);
    border-style: dashed ;
    border-width: 5px;
    padding: 8px;
    margin-top: 15px;

    display: none;
}
.name-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.pokemon-type{
    font-size: 40px;
    margin-top: 10px;
    color: #fff;
    text-shadow: 4px 4px 0px rgb(175, 175, 175);
    padding: 6px;
    text-transform: capitalize;
    font-family: nintendo-DS;
    width: 150px;
    text-align: center;
    display: none;
    box-shadow: 3px 3px rgba(103, 103, 103, 0.291);
    border-style: solid;
    border-color: rgba(255, 253, 253, 0.194);
    border-radius: 10px;
    border-width: 5px;
}
.pokemon-type-2{
    font-size: 40px;
    margin-top: 10px;
    color: #fff;
    text-shadow: 4px 4px 0px rgb(175, 175, 175);
    padding: 6px;
    text-transform: capitalize;
    font-family: nintendo-DS;
    width: 150px;
    text-align: center;
    display: none;
    box-shadow: 3px 3px rgba(103, 103, 103, 0.291);
    border-style: solid;
    border-color: rgba(255, 253, 253, 0.194);
    border-radius: 10px;
    border-width: 5px;
}